<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/netflixmode.jpeg` | relURL }}" class="img-fluid" alt="Picture 1">
        <h2 class="h2">Binge Mode <small class="d-none">🛡️</small></h2>
        <p> Binge Mode
            Activate Binge Mode to automatically queue up episodes of your favorite TV</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/criticallyacc.jpeg` | relURL }}" class="img-fluid" alt="Picture 2">
        <h2 class="h2">Discover Critically Acclaimed Shows <small class="d-none">🚀</small></h2>
        <p>Discover Critically Acclaimed Shows and get instant access to a wide variety of categories with this mode</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/socialmed.jpeg` | relURL }}" class="img-fluid" alt="Picture 3">
        <h2 class="h2">Social Platform Integration <small class="d-none">📈</small></h2>
        <p>Share your social profile information to give your friends a better sense of what you are watching. Connect and find friends who share the same movie recommendations!</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Parental Control <small class="d-none">🦉</small></h2>
        <p>Access parental control features in order to control what kind of content your child has access to watch. Filter by date created, producers, rating, and more. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Language/Subtitle Extension <small class="d-none">✨</small></h2>
        <p>Simply enter a preferred language before you start, and proceed with your movies with subtitles personalized to your language for optimal viewing experience.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Upcoming Releases <small class="d-none">🧰</small></h2>
        <p>Get notified of the newest releases and hottest movies out, as well as the latest additions in both shows and movies. </p>
    </div>
</div>
